<%= render 'partial/layout/navbar'%>
<div class="content">
<% if @members.presence %>
	<h1>所属チーム一覧</h1>
</div>
	<div class="content">
		<% @members.each do |member| %>
			<div class="team-index-box clearfix">
				<div class="team-index-box-img">
					<%= attachment_image_tag member.team, :image, :fill, 160, 160, format: 'jpeg' %>
				</div>
				<div class="team-index-box-info">
					<h3>チーム名｜<%= member.team.name %>
					<% if member.admin == 1 %>
						<div class="admin-label">管理者</div>
					<% end %>
					</h3>
					<hr>
					<%= link_to '詳細', team_path(member.team.id) ,class:"btn wanaka-btn btn-create btn-width-wide-col-3"%>
					<% if member.admin == 1 %>
						<%= link_to '編集', edit_team_path(member.team.id) ,class:"btn wanaka-btn btn-edit btn-width-wide-col-3" %>
						<%= link_to '招待', member_invite_path(member.team.id) ,class:"btn wanaka-btn btn-invite btn-width-wide-col-3"%>
					<% end %>
				<%# end %>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
<%= render 'partial/layout/footer'%>

<style type="text/css" media="screen">
	.team-index-box-img{
		width: 168px;
		height: 168px;
		border: 1px double #333333;
		padding-top: 3px;
		margin: 0 auto;
	}
</style>