<%= render 'partial/layout/navbar'%>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    メッセージ一覧
                </div>
                <br>
                <table class="table">
                  <tr>
                    <td>会話ユーザー</td>
                    <td>最終会話</td>
                    <td>最終会話日時</td>
                    <td>調整ゲーム</td>
                    <td>ゲーム開催日</td>
                  </tr>
                  <% @conversations.each do |conversation| %>
                    <% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
                    <% if !conversation.messages.blank? %>
                      <tr>
                        <td class="schedule-index-box-show-td"><%= other.username %></td>
                        <td><%= link_to conversation_messages_path(conversation), class:"schedule-index-box-show-td" do %><%= conversation.messages.last.body %><% end %></td>
                        <td class="schedule-index-box-show-td"><%= conversation.messages.last.message_time %></td>
                        <td class="schedule-index-box-show-td"><%= conversation.messages.last.message_time %></td>
                        <td></td>
                      </tr>
                    <% end %>
                  <% end %>
                </table>
            </div>
        </div>
    </div>
</div>
<%= render 'partial/layout/footer'%>




