<header>
  <div class="header-left">
    wanaka
  </div>
</header><!-- /header -->

<div class="content">
	<h1>ユーザー情報登録</h1>
	<small>メンバー管理を行う上で必要となる情報を入力してください。</small>
	<hr>
	<%#= form_for @user,  action: "update", url: user_confirm_path do |f| %>

	<%= form_for(@user, url: user_confirm_path, method: :post ) do |f|  %>
	    <div class="form-group">
		    <%= f.label :ユーザーネーム %><br>
		    <%= f.text_field :username ,{required: 'true', autofocus: 'true',placeholder: " 例）yamada.taro", class: 'form-control, form-width'} %>
		</div>
		<br>

	    <div class="form-group">
		    <%= f.label :氏名 %><br>
		    <%= f.text_field :first_name ,{required: 'true', autofocus: 'true', placeholder: " 例）山田" ,class: 'form-control, form-width'} %>
		</div>
		<br>

	    <div class="form-group">
		    <%= f.label :苗字%><br>
		    <%= f.text_field :last_name ,{required: 'true', autofocus: 'true', placeholder: " 例）太郎" , class: 'form-control, form-width'} %>
		</div>
		<br>

	    <div class="form-group">
		    <%= f.label :生まれ年 %><br>
		    <%= f.date_select :birth_day ,{discard_day: true, discard_month: true,:start_year => 1900, :end_year => Date.today.year, required: 'true', autofocus: 'true' , class: 'form-control, form-width'} %>
		    <%#= f.date_field :birth_day ,{required: 'true', autofocus: 'true', placeholder: " 例）2000/7/1" , class: 'form-control, form-width'} %><br>
		<small>※チームの平均年齢を算出する為に利用します。</small>
		</div>
		<br>
	    <div class="form-group">
		    <%= f.label :生別 %><br>
			<label><%= f.radio_button :sex, "male" %> 男</label>
			<label><%= f.radio_button :sex, "female" %> 女</label>
		</div>


	<br>


	

  	<br>
  	<br>
  	<br>
	    <%= f.submit '登録', class:"btn btn-create wanaka-btn"%> 
	<% end %>
</div>

<%= render 'partial/layout/footer'%>

