<%= render 'partial/layout/navbar'%>

<div class="content">
	<h1>スケジュール管理</h1>
	<hr>
	<%= form_for(@schedule) do |f| %>
	<h2>チーム名：</h2>
	    <%= f.label :タイトル %><br>
	    <%= f.text_field :title ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control, form-width'} %>
		<br>
		<br>
	    <%= f.label :場所 %><br>
	    <%= f.text_field :place ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control, form-width'}%>
		<br>
		<br>
	    <%= f.label :開催日 %><br>
	    <%= f.date_field :schedule_date ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control, form-width'}%>
		<br>
		<br>
	    <%= f.label :集合時間 %><br>
	    <%= f.time_select :start_time ,{required: 'true', autofocus: 'true', placeholder: "" , minute_step: 5, class: 'form-control, form-width'}%>
		<br>
		<br>
	    <%= f.label :終了時間 %><br>
	    <%= f.time_select :end_time ,{required: 'true', autofocus: 'true', placeholder: "" , minute_step: 5, class: 'form-control, form-width'}%>
		<br>
		<br>
	    <%= f.label :連絡事項 %><br>
	    <%= f.text_area :memo ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control, form-width'}%>
		<br>
		<br>
		<br>
	    <%= f.submit '変更', class:"wanaka-btn btn-width-wide btn-edit" %> 


	<% end %>
</div>

<%= render 'partial/layout/footer'%>
