<%= render 'partial/layout/navbar'%>

<div class="content">
	<h1>スケジュール作成</h1>
	<hr>
	<%= form_for(@schedule) do |f| %>
	<H2>チーム名：
	<% if @multi_teams %>
		<%= f.select :team_id, @admin_team.map{|t| [t.team.name , t.team.id]} , {prompt:"チーム選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control, form-width'}%>

	<% else %>
		<%= @admin_team.team.name %>

	    <%#= f.hidden_field :team_id ,@admin_team.map{|1| [1.id]} %>
		<%= f.hidden_field :team_id, :value => @admin_team.team_id ,required: 'true', autofocus: 'true', class: 'form-control, form-width' %>

	<% end %>
	</H2>
	    <%= f.label :タイトル %><br>
	    <%= f.text_field :title ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control, form-width'} %>
		<br>
		<br>
	    <%= f.label :場所 %><br>
	    <%= f.text_field :place ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control, form-width'}%>
		<br>
		<br>
	    <%= f.label :開催日 %><br>
	    <%= f.date_field :schedule_date ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control, form-width'}%>
		<br>
		<br>
	    <%= f.label :集合時間 %><br>
	    <%= f.time_select :start_time ,{required: 'true', autofocus: 'true', placeholder: "" , minute_step: 5, class: 'form-control, form-width'}%>
		<br>
		<br>
	    <%= f.label :終了時間 %><br>
	    <%= f.time_select :end_time ,{required: 'true', autofocus: 'true', placeholder: "" , minute_step: 5, class: 'form-control, form-width'}%>
		<br>
		<br>
	    <%= f.label :連絡事項 %><br>
	    <%= f.text_area :memo ,{autofocus: 'true', placeholder: "" , class: 'form-control, form-width'}%>
		<br>
		<br>
		<br>
	    <%= f.submit '作成', class:"wanaka-btn btn-width-wide btn-create	" %> 


	<% end %>
</div>

<%= render 'partial/layout/footer'%>
