
<%= render 'partial/layout/navbar'%>

<div class="content">
	<br>
	<% if @games.present? %>
		<%#= page_entries_info @games %>
		<% @games.each do |game| %>
			<%= link_to game_path(game) do %>

			<div class="game-index-box clearfix">
				<div class="game-index-box-img">
						<%= attachment_image_tag game.team, :image, :fill, 180, 180, format: 'jpeg' %>
				</div>
				<div class="game-index-box-show">
					<table class="table">
					  <tbody>
					    <tr>
					      <td class="game-index-box-show-td">タイトル:</td>
					      <td class="game-index-box-show-td"><%= game.title %></td>
					    </tr>
<!-- 					    <tr>
					      <td class="game-index-box-show-td">チーム名</td>
					      <td class="game-index-box-show-td"><%#= game.team.name %></td>
					    </tr> -->
					    <tr>
					      <td class="game-index-box-show-td">場所:</td>
					      <td class="game-index-box-show-td"><%= game.place %></td>
					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">チームレベル</td>
					      <td class="game-index-box-show-td"><%= game.team.level %></td>
					    </tr>
<!-- 					    <tr>
					      <td class="game-index-box-show-td">コート代:</td>
					      <td class="game-index-box-show-td">¥<%#= game.price %>
					      </td>
					    </tr>
 -->
 					  </tbody>
					</table>
				</div>
			</div>
		<% end %>

		<% end %>
		<%= paginate @games %>
		<hr>
	<% else %>
		<small>
			募集中の練習試合はありません。<br>
			右下のボタンより募集してみてはいかがですか？
		</small>
	<% end %>
	<br>
	<br>
	<h5><%= link_to "掲載した募集情報", games_uploaded_path(current_user.id)  %></h5>
	<br>
		<div class="new-game-btn-space"></div>
			<div class="new-game-btn">
				<%= link_to new_game_path do %>
					<div class="new-schedule-btn-text">
						+
					</div>
				<% end %>
			</div>
		</div>
</div>

<%= render 'partial/layout/footer'%>