
<%= render 'partial/layout/navbar'%>

<div class="content">
	<h4>募集情報一覧	/ 掲載した募集情報	</h4>
	<br>
	<% if @game_uploaded.present? %>
		<%#= page_entries_info @games %>
		<% @game_uploaded.each do |game| %>
			<div class="game-index-box clearfix">
				<div class="game-index-box-img">
					<%= link_to game_path(game) do %>
						<%= attachment_image_tag game.team, :image, :fill, 180, 180, format: 'jpeg' %>
					<% end %>
				</div>
				<div class="game-index-box-show">
					<table class="table">
					  <tbody>
					    <tr>
					      <td class="game-index-box-show-td">タイトル:</td>
					      <td class="game-index-box-show-td"><%= game.title %></td>
					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">チーム名</td>
					      <td class="game-index-box-show-td"><%= game.team.name %></td>
					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">場所:</td>
					      <td class="game-index-box-show-td"><%= game.place %></td>

					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">チームレベル</td>
					      <td class="game-index-box-show-td"><%= game.team.level %></td>
					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">コート代:</td>
					      <td class="game-index-box-show-td">¥<%= game.price %>
					      	<span class="game-index-box-show-detail"><%= link_to '>詳しくはこちら', game_path(game), class:"game-index-box-show-detail" %></span>
					      </td>
					    </tr>
					  </tbody>
					</table>

				</div>
			</div>
		<% end %>
		<%= paginate @game_uploaded %>
		<hr>
	<% else %>
		<small>
			募集中の練習試合はありません。<br>
			右下のボタンより募集してみてはいかがですか？
		</small>
	<% end %>
	過去に掲載したゲームを見る
	<br>
		<div class="new-game-btn-space"></div>
			<div class="new-game-btn">
				<%= link_to new_game_path do %>
					<div class="new-schedule-btn-text">
						+
					</div>
				<% end %>
			</div>
	</div>
</div>

<%= render 'partial/layout/footer'%>