
<%= render 'partial/layout/navbar'%>

<div class="content">
	<br>
	<h2>掲載しているゲーム一覧<br>
	<small>過去に掲載した内容は表示されません。</small>
	</h2>
	<% if @game_uploaded.present? %>
		<%#= page_entries_info @games %>
		<% @game_uploaded.each do |game| %>
			<div class="game-index-box clearfix">
				<div class="game-index-box-img">
					<%= link_to game_path(game) do %>
						<%= attachment_image_tag game.team, :image, :fill, 180, 180, format: 'jpeg' %>
					<% end %>
				</div>
				<div class="game-index-box-show">
					<table class="table">
					  <tbody>
					    <tr>
					      <td class="game-index-box-show-td">タイトル:</td>
					      <td class="game-index-box-show-td"><%= game.title %></td>
					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">チーム名</td>
					      <td class="game-index-box-show-td"><%= game.team.name %></td>
					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">場所:</td>
					      <td class="game-index-box-show-td"><%= game.place %></td>

					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">チームレベル</td>
					      <td class="game-index-box-show-td"><%= game.team.level %></td>
					    </tr>
					    <tr>
					      <td class="game-index-box-show-td">コート代:</td>
					      <td class="game-index-box-show-td">¥<%= game.price %>
					      	<span class="game-index-box-show-detail"><%= link_to '>詳しくはこちら', game_path(game), class:"game-index-box-show-detail" %></span>
					      </td>
					    </tr>
					  </tbody>
					</table>

				</div>
			</div>
		<% end %>
		<%= paginate @game_uploaded %>
		<hr>
	<% else %>
		<small>
			募集中の練習試合はありません。<br>
			右下のボタンより募集してみてはいかがですか？
		</small>
	<% end %>
	<br>
	<br>
	<h2><%= link_to "募集マッチング一覧へ", games_path %></h2>
	<br>
	<!-- 過去に掲載したゲームを見る -->
	</div>
</div>

<%= render 'partial/layout/footer'%>