<header>
	<%= link_to :root do %>
		<div class="header-brand">
			wanaka
		</div>
	<% end %>
	<div class="header-right">
		<div id="nav-drawer">
		  <input id="nav-input" type="checkbox" class="nav-unshown">
		  <label id="nav-open" for="nav-input"><span></span></label>
		  <label class="nav-unshown" id="nav-close" for="nav-input"></label>
		  <div id="nav-content">
		    <% if user_signed_in? %>
		    	<div class="navbar-menu-user">
			      <%= current_user.email.sub!(/@.*/m, "") %>でログイン中
		    	</div>
			      <hr>
						<%= link_to schedules_path do %>
				  		<div class="navbar-menu"><i class="far fa-calendar-alt"></i>  スケジュール一覧</div>
            <% end %>
						<%= link_to teams_path do %>
	            <div class="navbar-menu"><i class="far fa-address-card"></i>  所属チーム一覧</div>
            <% end %>
						<%= link_to member_apply_path do %>
	              <div class="navbar-menu"><i class="far fa-futbol"></i>  既存のチームに参加</div>
            <% end %>
						<%= link_to new_team_path do %>
	              <div class="navbar-menu"><i class="fas fa-child"></i>  自分でチームを作成</div>
            <% end %>
						<%= link_to user_path(current_user) do %>
	              <div class="navbar-menu"><i class="far fa-address-card"></i>  プロフィール</div>
            <% end %>
						<%= link_to app_about_path do %>
	              <div class="navbar-menu"><i class="far fa-address-card"></i>  Wanakaについて</div>
            <% end %>
	          <hr>
		      <%= link_to "ログアウト", destroy_user_session_path, class: "navbar-menu-logout",method: :delete %>
					<% else %>

	              <div class="navbar-menu-top">メニュー</div>

						<%= link_to new_user_session_path do %>
	              <div class="navbar-menu"><i class="fas fa-sign-in-alt"></i>  ログイン</div>
            <% end %>
            <%= link_to new_user_registration_path do %>
	              <div class="navbar-menu"><i class="fas fa-user-circle"></i>  新規登録</div>
            <% end %>

						<%= link_to app_about_path do %>
	              <div class="navbar-menu"><i class="fas fa-book"></i></i>  Wanakaについて</div>
            <% end %>
				<% end %>
		  </div>
		</div>
	</div>
</header><!-- /header -->